.back-to-top-btn {
	position: fixed;
	bottom: 24px;
	right: 24px;

	width: 48px;
	height: 48px;

	border-radius: 50%;
	border: none;
	cursor: pointer;

	background: #14532d;
	color: white;
	font-size: 22px;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	z-index: 9999;
}

.back-to-top-btn:hover {
	background: #0f3c21;
	transform: scale(1.1);
}
