/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GLOBAL */
body {
	margin: 0;
	background: #ffffff;
	color: #1a1a1a;
	font-family: system-ui, sans-serif;
	line-height: 1.6;
}

/* Remove Vite demo styles */
#root {
	width: 100%;
}
